@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Quizeritus</h1>
        <br />
        <p>
            Welcome to Quizeritus!
            <br />
            Do you think you're good enough to beat all of our quizes? Give it a shot then! It might be harder than you think!
        </p>

        <div class="card-columns">
            @foreach (var item in Model)
            {
                <partial name="_QuizPreview" model="item" />
            }
        </div>
    </div>
